<!-- 

 Title: _footer.ejs
 Date: 11/26/2023
 Author: Zadkiel Rodriguez Alvarado
 Description: Footer partial view
 Sources:
        https://github.com/buwebdev/web-340/tree/master

-->
<footer>
    <p>Images courtesy of <a href="https://unsplash.com/">Unsplash</a></p>
    <p>Created by a Bellevue University Student</p>
</footer>
</body>
</html>