<!-- 

 Title: _header.ejs
 Date: 11/26/2023
 Author: Zadkiel Rodriguez Alvarado
 Description: Header partial view
 Sources:
        https://github.com/buwebdev/web-340/tree/master

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- Link to CSS file and Google Fonts-->
    <link rel="stylesheet" href="styles/site.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h2>
        <a href="/">Pets-R-Us</a>
      </h2>
      <!-- navbar -->
      <div class="nav-container">
        <ul class="main-nav">
          <li class="parent-item">
            <a href="#" class="none-click">Services</a>
            <ul class="nav-drop-down">
              <!-- navbar drop-down-menu content -->
              <li>
                <a href="/boarding">Boarding</a>
              </li>
              <li>
                <a href="/grooming">Grooming</a>
              </li>
              <li>
                <a href="/training">Training</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/customer-list">Customers</a>
          </li>
          <li>
            <a href="/booking">Bookings</a>
          </li>
          <li class="appointments">
            <a href="/my-appointments">My Appointments</a>
          </li>
        </ul>
      </div>
    </header>

    <!-- Overview section -->
<section class="overview">
  <div id="background-image"></div>
  <div class="overview-content">
    <h1 class="overview-title">Pets-R-Us</h1>
    <h3 class="overview-info">Where Your Pets Feel Right at Home</h3>
    <a href="/register" class="btn btn-primary"> Sign up for a free account </a>
  </div>
</section>

