<!-- 

 Title: boarding.ejs
 Date: 11/26/2023
 Author: Zadkiel Rodriguez Alvarado
 Description: Boarding Page
 Sources:
        https://github.com/buwebdev/web-340/tree/master

-->

<!-- Header section -->
<%- include('./partials/_header.ejs') %>


<!-- Boarding Section -->
<section class="boarding">
    <h3 class="title">Boarding Info</h3>
    <p class="paragraph">
        At Pets-R-Us, we offer top-notch boarding services to cater to your pet's comfort and happiness. Our boarding facilities are a haven for pets, providing them a home-like environment even when they are away. With spacious and luxurious suites, your furry companions can relax in style, with cozy bedding and an array of toys to entertain them. Our trained and compassionate staff ensures your pet receives round-the-clock care, including regular exercise routines and supervised playtime in secure areas. Recognizing the significance of a well-balanced diet, we provide premium pet food choices and cater to specific dietary requirements, ensuring your pet's health and satisfaction throughout their stay. Additionally, we go the extra mile to offer spa treatments as part of our boarding packages, giving your pet the royal treatment with grooming sessions and relaxing spa experiences.
    </p>

    <div class="container">
        <div class="boarding-prices">
            <div class="card">
                <div class="card-title">Prices per Night</div>
                <div class="boarding-prices-content">
                    <p><span class="bold">Dogs:</span> $40 per dog</p>
                    <p><span class="bold">Cats:</span> $35 per cat</p>
                    <p><span class="bold">Any Other Pet:</span> $50 per pet</p>
                </div>
            </div>
        </div>
        <div class="prices-info">
            <p class="paragraph">
                At Pets-R-Us, our pricing per night for pet boarding is designed to provide comprehensive care and comfort for your furry companions. The fee includes a cozy and secure space for your pet, regular meals, access to clean water, daily exercise routines, and attentive staff members ensuring their well-being. Additionally, we offer various amenities tailored to suit your pet's needs, ensuring they feel safe and content throughout their stay. We have crafted our pricing model to mirror our dedication to creating a nurturing and delightful atmosphere for each pet, guaranteeing they receive individualized care and attention.
            </p>
        </div>
    </div>
</section>

    <!-- Footer -->
<%- include('./partials/_footer.ejs') %>