<!-- Header section -->
<%- include('_header.ejs') %>

<!-- Overview Section -->
<section class="overview">
    <div class="background-image"></div>
    <div class="overview-content">
      <h1 class="overview-title">Pets-R-Us</h1>
      <h3 class="overview-info">Where Your Pets Feel Right at Home</h3>
      <a href="#" class="btn btn-primary"> Sign up for a free account </a>
    </div>
</section>

<section class="training">
    <h3 class="training-title">Training</h3>
    <p class="training-info">
        At Pets-R-Us, our training programs are designed to cater to each pet's unique needs and behaviors. We offer a variety of training sessions conducted by experienced professionals who use positive reinforcement techniques. We address obedience training, behavior modification, and socialization through tailored programs. These sessions enhance communication and understanding between pets and their owners, promoting a harmonious relationship. Whether puppy training, basic obedience, or advanced commands, our trainers work closely with pets and their owners to achieve desired behavioral outcomes in a supportive and encouraging environment. We aim to empower pets to learn and thrive while fostering a strong bond between them and their families.
    </p>
</section>

<section class="meet-trainers">
    <h3 class="meet-trainers-title">Meet the Trainers</h3>
    <div class="container">
        <div class="image-card">
            <img src="../images/Trainer1.jpg" style="height: 400px; width: 450px;">
        </div>
        <div class="info-card">
            <h4 class="info-title">Freddy</h4>
            <p class="info-text">
                Freddy's expertise addresses various behavioral issues, from basic obedience to more complex challenges, helping pets and their owners build a strong, harmonious relationship based on mutual understanding and trust.
            </p>
        </div>

        <div class="image-card">
            <img src="../images/Trainer2.jpg" style="height: 400px; width: 450px;">
        </div>
        <div class="info-card">
            <h4 class="info-title">Madison</h4>
            <p class="info-text">
                Madison brings a wealth of canine behavior and training expertise, specializing in creating positive learning environments. With a background in animal psychology, she employs scientifically proven techniques, focusing on building strong bonds between pets and their families. Madison's patience and understanding enable her to address various behavioral issues, ensuring every pet receives the attention and guidance they need to thrive.
            </p>
        </div>

        <div class="image-card">
            <img src="../images/Trainer3.jpg" style="height: 400px; width: 450px;">
        </div>
        <div class="info-card">
            <h4 class="info-title">Greg</h4>
            <p class="info-text">
                Greg is renowned for his passion for feline companions. His comprehensive knowledge of cat behavior and training methods allows him to engage with even the most discerning feline friends. Greg's gentle approach and keen understanding of cat psychology make him invaluable in resolving behavioral challenges, providing practical solutions tailored to each cat's personality and needs.
            </p>
        </div>
    </div>
</section>

<section class="pricing">
    <h3 class="pricing-title">Pricing</h3>
    <div class="container">
        <div class="basic-card">
            <p class="basic-card-title">Basic Training Package - $200</p>
            <ul class="basic-card-content">
                <li>We will teach your pet essential obedience commands</li>
                <li>We will work on leash manners and basic socialization skills</li>
                <li>We will touch on basic housebreaking</li>
            </ul>
            <p class="basic-card-length">6 week course</p>
        </div>
        <div class="advanced-card">
            <p class="advanced-card-title">Advance Training Package - $400</p>
            <ul class="advanced-card-content">
                <li>All the basic training package</li>
                <li>We will target behavior modification for specific issues</li>
                <li>We will work on off-leash training and advanced social techniques</li>
            </ul>
            <p class="advanced-card-length">8 week course</p>
        </div>
    </div>
</section>

<!-- Footer -->
<%- include('_footer.ejs') %>