/* 
 Title: site.ejs
 Date: 11/26/2023
 Author: Zadkiel Rodriguez Alvarado
 Description: Styling of the website

Images taken from:
    https://unsplash.com/photos/man-cutting-hair-of-goat-QThF7Iv6vLY
    https://unsplash.com/photos/man-petting-long-coated-brown-dog-while-sitting-on-green-grass-covered-ground-during-day-time-MjXND8EDCMo
    https://unsplash.com/photos/woman-playing-with-dog-KvKop_a_EXw
    https://unsplash.com/photos/man-sitting-beside-black-dog-tk5LWGNiWVs

Sources:
    https://buwebdev-pets-r-us.onrender.com/styles/site.css 
 */

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

/* Nav styling */
ul, .nav-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-container, a {
    text-decoration: none;
    color: #3498db;
    transition: all 0.3s ease;
    width: 100%;
}

.main-nav {
    display: flex;
    margin-right: 50px;
    float: right;
    gap: 40px;
    font-size: 20px;
}

.nav-container:hover, a:hover {
    color: #475999;
}

.nav-drop-down  {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    color: black;
    padding: 20px;
    display: none;
}

.parent-item:hover .nav-drop-down {
    display: block;
}

.nav-drop-down li {
    display: block;
}

.nav-drop-down a:hover {
    display: block;
    text-decoration: none;
}

.nav-drop-down li a {
    width: 100%;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    top: 0;
    opacity: 0;
    animation: 1s fade-in 0.5s forwards;
    color: #3498db;
    background-color: rgba(128, 128, 128, 0.1);
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

header h2 {
    margin-left: 80px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 36px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    margin-right: 30px;
}

header nav li {
    padding: 10px;
}
/* Section styling */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Overview styling */
.overview {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

#background-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-image.jpg) no-repeat center center/cover;
}

.overview h1 {
    font-size: 90px;
    color: #3498db;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.overview h3 {
    font-size: 36px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    color: #3498db;
    margin-bottom: 40px;
}

.btn {
    font-weight: bold;
    border: 2px solid #80a3db;
    background-color: transparent;
    font-size: 16px;
    margin: 4px 2px;
    padding: 8px 14px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #80a3db;
    color: #fff;
}

.overview a.btn {
    padding: 20px 46px;
}

.overview-content {
    position: absolute;
    opacity: 0;
    margin-top: 100px;
    animation: 1s slide-fade 1s forwards;
}

@keyframes slide-fade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

.title {
    font-size: 48px;
    text-align: center;
    background-color: #80a3db;
    color: #0a3e61;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.paragraph {
    max-width: 775px;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 30px;
    text-align: center;
    color: #0a3e61;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    width: 500px;
    cursor: default;
    text-align: center;
    color: #0a3e61;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.card-content {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
}

/* Store Location styling */
.locations {
    background-color: rgba(128, 128, 128, 0.1);
}

.locations-info {
    text-align: center;
    color: #0a3e61;
    text-transform: uppercase;
}

.locations-info h4 {
    font-size: 30px;
    margin: 25px 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.locations-info p {
    width: 300px;
}

.bold {
    font-weight: 800;
}

.pet-of-the-week-content {
    font-size: 18px;
    text-align: center;
}

/* Mission styling */

.mission-card-content {
    padding: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #0a3e61;
}

/* Testimonials styling */
.testimonials {
    background-color: rgba(128, 128, 128, 0.1);
}

.guest-quote-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 40px;
    width: 80%;
    text-align: center;
    color: #0a3e61;
    transition: all 0.3s ease;
    background-color: #fff;
    border-radius: 4px;
}

.guest-quote-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.guest-quote {
    font-size: 22px;
    line-height: 1.5;
}

.guest {
    font-size: 14px;
}

/* Contact us styling */
.contact-us {
    margin-bottom: 30px;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-us form input {
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    font-size: 18px;
    color: #0a3e61;
}

.contact-us form .btn {
    padding: 12px 30px;
    text-align: center;
    width: 100px;
}

/* grooming styling */
.grooming {
    margin-bottom: 30px;
}

.grooming-card ul li {
    font-size: 20px;
}

/* Boarding styling */
.boarding-prices-content {
    font-size: 18px;
}

/* Training styling */
.training p {
    font-size: 22px;
}

.meet-trainers {
    background-color: rgba(128, 128, 128, 0.1);
}

.image-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: default;
    color: #0a3e61;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card img {
    margin: auto;
}

.image-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.info-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: default;
    color: #0a3e61;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.info-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.info-title {
    font-size: 36px;
    text-align: center;
    margin: 25px 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.info-text {
    max-width: 775px;
    font-size: 24px;
    line-height: 2;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
}

.training-card-content {
    list-style: circle;
    margin-left: 30px;
}

.training-card-length {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.form {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
    margin-left: 20px;
}

.form-field label {
    font-size: 18px;
}

.form-field .btn {
    border-radius: 4px;
    padding: 12px 18px;
    color: #0a3e61;
}

.form-field .btn:hover {
    color: #fff;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.table {
    border-collapse: collapse;
    width: inherit;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #475999;
    color: #fff;
}

.table td, th {
    border: 1px solid #303030;
    padding: 8px;
    text-align: left;
}

.table-hover tr:hover {
    background-color: #475999;
    color: #fff;
}

/* footer styling */
footer {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px 0;
}

footer p {
    margin-top: 40px;
    text-align: center;
}